body{
  word-wrap: break-word;
  font-family: "Segoe UI",Helvetica,Arial,sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

h1{
  margin-top: 26px;
  margin-bottom: 16px;

  color: #24292e;

  border-bottom: 1px solid #eaecef;

  font-weight: 600;
  font-size: 2em;
}
h2{
  color: #24292e;

  border-bottom: 1px solid #eaecef;

  font-weight: 600;
  font-size: 1.5em;
}
h3{
  font-size: 1.25em;
  color: #24292e;
}
h4{
  font-size: 1em;
  color: #24292e;
}
h5{
  font-size: 0.875em;
  color: #24292e;
}
h6{
  font-size: 0.85em;
  color: #6a737d;
}

/*Ensure that the old HTML tags work*/
del{
  text-decoration: line-through;
}
b{
  font-weight: bold;
}
i{
  font-style: italic;
}
p{
  padding-left: 10px;
}

break{
  display: block;
  border-bottom: #e1e4e8 2px solid;
}

blockquote{
  font-family: "Segoe UI",Helvetica,Arial,sans-serif;
  word-wrap: break-word;
  line-height: 1.5;
  font-size: 16px;

  padding: 0px 16px;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;

  margin: 0px;
  margin-bottom: 16px;
}









.articles article{
  flex: 1;

  width: auto;

  display: grid;
  grid-template-columns: auto 85px;

  padding: 5px 5px 20px 5px;
  margin: 5px;

  border-bottom: #e2e2e2 3px solid;
}
.articles article .date{
  grid-row: 1;
  grid-column: 2;

  float: right;
}
.articles article h3{
  grid-row: 1;
  grid-column: 1;

  margin-top: 0px;
  margin-bottom: 0px;
}
.articles article .author{
  grid-row-start: 2;

  margin-left: 5px;
  margin-top: -5px;

  color: #797979;

  grid-column-start: 1;
  grid-column-end: span 2;
}
.articles article p{
  grid-row-start: 3;

  grid-column-start: 1;
  grid-column-end: span 2;

  margin-bottom: 2px;
}
.articles article .tags{
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: span 2;

  color: #24292e;

  text-align: right;
}
.articles tag{
  font-weight: 800;
  font-size: 12px;

  color: #24292e;

  padding-left: 5px;
}
.articles a{
  text-decoration: none;
}










table{
  margin-top: 0px;
  margin-bottom: 0px;

  border-spacing: 0;
  border-collapse: collapse;

  box-sizing: border-box;
}
table tr{
  background-color: #ffffff;
  border-top: 1px solid #c6cbd1;

  box-sizing: border-box;
}
table tr th{
  font-weight: 600;
  background-color: #ffffff;
}
table tr th, table tr td{
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
table tr:nth-child(2n){
  background-color: #f6f8fa;
}










code{
  background-color: #272822;
  color: #f8f8f0;

  display: block;

  font-size: 0.8em;

  padding: 0.6em;
  margin: 0.4em 0.4em 0.4em -10px;
  border-radius: 3px;
}
code::selection{
  background: #9d550f;
}
code .str{
  color: #E6DB74;
}
code .kwd{
  color: #f92672;
}
code .com{
  color: #75715e;
}
code .typ{
  color: #66d9ef;
}
code .lit{
  color: #AE81FF;
}
code .pun{
  color: #f8f8f0;
}



code[type="eq"]{
  font-family: 'Cambria Math', 'Times New Roman';
  font-size: 17px;
  font-weight: 500;

  width: auto;

  background-color: #f5f5f5;
  color: black;

  border-radius: 5px;
}

code[type=eq] .row{
  display: flex;
  vertical-align: middle;
}
code[type=eq] .row .char{
  margin-top: auto;
  margin-bottom: auto;
}

code[type="eq"] sub, code[type="eq"] sup{
  font-size: 15px;
  min-height: 15px;
}

code[type=eq] .sqrt{
  border-top: black 1px solid;
}

code[type="eq"] .opper{
  font-size: 16px;
  font-weight: 1000;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 5px;
}

code[type=eq] .fract{
  font-size: 10px;
  text-align: center;
}
code[type=eq] .fract sup{
  display: inline-block;
  padding: 0px 2px;

  margin-bottom: -2px;
}
code[type=eq] .fract sub{
  display: block;

  border-top: solid black 1px;
}

code[type=eq] .fract[w=t] sup{
  margin-bottom: -5px;
  padding: 0px;

  text-align: left;
}
code[type=eq] .fract[w=t] sub{
  text-align: left;
  border-top: none;
}