body{
	margin-top: 40px;
}

header{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;

	background-color: var(--color-primary);
	margin: 0px;
	padding: 0px 10px;

	color: white;

	z-index: 1000;

	box-shadow: black 0px 0px 10px;
}

header a{
	color: white;
	text-decoration: none;

	padding: 5px 10px;
	margin: 0px;

	font-size: 18px;
	font-weight: 700;

	background-color: transparent;

	transition-property: box-shadow;
	transition-duration: 0.2s;
}
header a:hover{
	box-shadow: black 0px 0px 10px;
}
