body{
  margin-top: 40px;
}

header{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  background-color: #24292e;
  margin: 0px;
  padding: 5px 10px;

  color: white;
}

header a{
  color: white;
  text-decoration: none;

  font-weight: 700;
}