body{
	margin-top: 40px;
}

header{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;

	background-color: #d81b60;
	margin: 0px;
	padding: 5px 10px;

	color: white;
}

header a{
	color: white;
	text-decoration: none;

	margin: 0px 10px;

	font-size: 18px;
	font-weight: 700;
}